@using Duende.IdentityServer.Extensions
@{
#nullable enable
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-light bg-primary">

        <div class="container">
            <div class="row">
                <a href="~/" class="navbar-brand">
                    <img src="~/duende-white.svg" class="icon-banner" alt="Duende IdentityServer"/>
                    <span class="text-white">IdentityServer</span>
                    <small class="text-white-50 font-italic">(demo.duendesoftware.com)</small>
                </a>

                @if (!string.IsNullOrWhiteSpace(name))
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b
                                    class="caret"></b></a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>
