@using Duende.IdentityServer.Extensions
@{
#nullable enable
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<nav class="site-header sticky-top py-1 bg-primary">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a href="~/" class="navbar-brand py-2 d-md-inline-block">
            <img src="~/duende-white.svg" class="icon-banner" alt="Duende IdentityServer"/>
            <span class="text-white">IdentityServer</span>
            <span class="badge badge-dark">demo</span>
        </a>
        <a class="text-white py-3 d-none d-md-inline-block" href="/#features">Features</a>
        <a class="text-white py-3 d-none d-md-inline-block" href="/#references">References</a>
        <a class="text-white py-3 d-none d-md-inline-block" href="/#demo-clients">Clients</a>
        <a class="text-white py-3 d-none d-md-inline-block" href="/#sample-apis">APIs</a>
        <a class="text-white py-3 d-none d-md-inline-block" href="/#sample-keys">Keys</a>
        @if (!string.IsNullOrWhiteSpace(name))
        {
            <a class="text-white py-3 d-md-inline-block" asp-page="/Account/Logout/Index">
                <span class="font-weight-bold">@name</span>
                <span class="text-white-50 font-italic">Logout</span>
                <i class="glyphicon glyphicon-log-out"></i>
            </a>
        }
    </div>
</nav>
