:root {
  --font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.welcome-page {
  .logo {
    width: 64px;
  }
}

/* List group */
.list-group-item {
  color: #444;
  background-color: #fff;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #5c507c;
  background-color: #fff;
}

.list-group-item.active, .list-group-item:hover, .list-group-item:focus  {
  z-index: 2;
  color: #444;
  background-color: #eee;
  border-color: #eee;
}

.list-group-item.active {
  font-weight: 700;
}

.list-group-item.active:hover {
  background-color: #fff;
}

.list-group-item.disabled:hover {
  color: #5c507c;
}

/* Accordion styles */
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

a.navbar-brand {
  span {
    margin-left: 10px;
  }
  
  .icon-banner {
    margin-top: -4px;
    height:calc(4rem - 2 * .75rem);
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: 0 50%
  }
}

.body-container {
  margin-top: 60px;
  padding-bottom: 40px;
}

.logged-out-page {
  iframe {
    display: none;
    width: 0;
    height: 0;
  }
}

.grants-page {
  .card {
    margin-top: 20px;
    border-bottom: 1px solid lightgray;

    .card-title {
      img {
        width: 100px;
        height: 100px;
      }

      font-size: 120%;
      font-weight: bold;
    }

    label {
      font-weight: bold;
    }
  }
}

.jwt-decoder-container {
  .row {
    height: 40vh;
  }
  
  .jwt-decoded {
    text-wrap: auto;
    background-color: #000000;
    
    &.jwt-header {
      color: lighten(#fc3939, 20%);
    }

    &.jwt-payload {
      color: lighten(#13b955, 20%);
    }

    &.jwt-signature {
      color: lighten(#efa31d, 20%);
    }
  }

  .jwt-input-editable {
    word-wrap: anywhere;
    
    .text-danger {
      color: lighten(#fc3939, 20%) !important;
    }

    .text-success {
      color: lighten(#13b955, 20%) !important;
    }

    .text-warning {
      color: lighten(#efa31d, 20%) !important;
    }
  }
  
  .json-content, .jwt-input-editable {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
  }
  
  .jwt-signature {
    font-size: 1em;
  }
}